<div class="account section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="login-form border p-5">
          <div class="text-center heading">
            <h2 class="mb-2">Sign Up</h2>
            <p class="lead">Already have an account? <a routerLink="/login"> Login now</a></p>
          </div> 
          <form id="formData"  #userData="ngForm" (ngSubmit)="registerUser(userData.value)">
            <div class="form-group mb-4">
              <label for="#">Enter first name </label>
              <input type="text"  name="first_name" class="form-control" placeholder="Enter Username" ngModel required >
            </div>
            <div class="form-group mb-4">
              <label for="#">Enter Lastname </label>
              <input type="text"  name="last_name" class="form-control" placeholder="Enter Last name" ngModel required >
            </div>
            <div class="form-group mb-4">
              <label for="#">Enter Email Address</label>
              <input type="email"  name="email" class="form-control" placeholder="Enter Email Address"ngModel required >
            </div>
            <div class="form-group mb-4">
              <label for="#">Enter Password</label>
              <input type="password" name="password" class="form-control" placeholder="Enter Password" ngModel required> 
            </div>
            <div class="form-group">
              <label for="#">Confirm Password</label>
              <input type="password" class="form-control" placeholder="Confirm Password"> 
            </div>
            <input type="submit" value="signup" matButton class="btn btn-primary w-100">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>