<div class="account section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="login-form border p-5">
            <div class="text-center heading">
              <h3 class="mb-2 h2">Password Recovery</h3>
              <p class="lead">Please enter the email address for your account. A verification code will be sent to you. Once you have received the verification code, you will be able to choose a new password for your account.</p>
            </div>
            <form action="#" #userData="ngForm" (ngSubmit)="passwordReset(userData.value)">
              <div class="form-group mb-4">
                <label for="#">Enter Email Address</label>
                <input type="text" name="email" class="form-control" placeholder="Enter Email Address" ngModel required>
              </div>
              <input type="submit" value="Request OTP" matButton class="btn btn-primary w-100">
            </form>
            <!-- <form action="#" class="mt-5" #userData="ngForm" (ngSubmit)="(userData.value)" >
              <h4>Password change</h4>
              <div class="form-group">
                <label >Current password </label>
                <input type="text" class="form-control" placeholder="">
              </div>
              <div class="form-group">
                <label >New password</label>
                <input type="text" class="form-control" placeholder="">
              </div>
              <div class="form-group">
                <label >Confirm password</label>
                <input type="text" class="form-control" placeholder="">
              </div>

              <a href="#" class="btn btn-dark">Save Changes</a>
            </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>